/node_modules
.env

# echo "# Covid-19-Tracker-Backend" >> README.md
# git init
# git add README.md
# git commit -m "first commit"
# git branch -M main
# git remote add origin https://github.com/sharooque7/Covid-19-Tracker-Backend.git
# git push -u origin main